.single-player-budget{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 0 7px;
    margin-top: 3px;
}
.single-player-budget img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px white solid;
}
.single-player-budget h6{
    margin-left: 8px;
}