/* body{
  box-sizing: unset;
} */
*, ::after, ::before{
  box-sizing:initial !important;
}
body{
  line-height: 1rem !important;
}
.App{
  display: flex;
  /* box-sizing: border-box; */
  /* background:#1D0E2E; */
}
